.gsd-keyboard.settings-ported
obsidian
zen
BraveSoftware
Code
Element
btop/btop.log
chromium
dconf
discord
dleyna-server-service.conf
evolution
gnome-initial-setup-done
gtk-3.0
ibus
inkscape
lazygit
mimeapps.list
mozilla
spotify
syncthing
user-dirs*

kitty/current.conf
rofi/current.rasi
rice/nix-switcher
quickshell/color/current.qml
