.gsd-keyboard.settings-ported
obsidian
zen
BraveSoftware
Code
Element
btop/btop.log
chromium
dconf
discord
dleyna-server-service.conf
evolution
gnome-initial-setup-done
gtk-3.0
ibus
inkscape
lazygit
mimeapps.list
mozilla
spotify
syncthing
user-dirs*

kitty/current.conf
hypr/color.conf
quickshell/color/Current.qml

rice/nix-switcher/links.json
rice/nix-switcher/config.json
rice/nix-switcher/kittythemes.json
rice/nix-switcher/wallpaper.json
rice/nix-switcher/wallpaper.json
rice/nix-switcher/wallpaper
rice/nix-switcher/kittythemes
rice/nix-switcher/themes/*/
